<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @from_user.username %> left you a comment</h1>
    <div id="comment_preview">
      <a href='http://m3snaps.herokuapp.com/#/photos/<%= @comment.commentable_id %>'>
        <%= @comment.comment %>
      </a>
    </div>
  </body>
</html>