<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hello from Auxotic! <br><br>
    It appears <%= @from_user.username %> someone has left you a comment on discussion you were having. <br><br>
    It says "<%= @comment.comment %>" <br><br>
    To reply to this comment <a href='http://auxotic.com/<%= @comment.url %>'>click here</a> <br><br>
    Sincerely, <br><br>
    <a href="http://auxotic.com">Auxotic.com</a>
  </body>
</html>
