<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hello from Auxotic! <br><br>
    It appears <%= @from_user.username %> liked your whip and has left you a comment on it. <br><br>
    It says "<%= @comment.comment %>" <br><br>
    To reply to his comment <a href='http://auxotic.com/#/photos/<%= @comment.commentable_id %>'>click here</a> <br><br>
    Sincerely, <br><br>
    <a href="http://auxotic.com">Auxotic.com</a>
  </body>
</html>
