.tags{
  float:left;
  width:100%;
}
.social-share{
  float:left;
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
  .facebook {
    position:absolute;
    right:5px;
    top:50px;
  }
  .twitter{
    position:absolute;
    right:5px;
    top:90px;
  }
}
#comments-area{
  padding-top:5px;
  overflow:auto;
  .comment{
    padding: 3px 5px;
    margin-bottom: 2px;
    background-color: #ECECF0;
    .said-at{
      color:#999999;
      font-size:12px;
    }
  }
  .new-comment{
    width:280px;
    position:absolute;
    bottom:0;
    height:30px;
  }
}
