/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 *= require bootstrap_and_overrides
 */
.login-nav {
  padding: 15px !important;
  padding-bottom: 0px;
}
.photo-item{
  width:200px;
  float:left;
  cursor: pointer;
  padding:10px;
}
#vehicle_id{
  margin-bottom: 0px;
  margin-right: 10px;
}
#upload-area{
  float:left;
  width:330px;
}
#progress-area{
  float:right;
  width:200px;
}
#file-count{
  height: 30px;
  margin-bottom: 3px;
}
#photo_container{
  text-align: center;
  margin: 0 auto;
}
#filter-whips{
  float:left;
  height:30px;
  width:60%;
  padding: 10px 10px 5px 10px;
}
#search-area{
  margin: 0 auto;
  width: 600px;
}