/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen
 *= require bootstrap_and_overrides
 */
.login-nav {
  padding: 15px !important;
  padding-bottom: 0px;
}
.mikes-modal-container{
  z-index:3;
  position:absolute;
  top:5%;
  width: 98%;
  background-color:white;
}
.mikes-modal-container .comments{
  width: 280px;
  text-align: left;
  padding: 0px 30px;
  vertical-align: top;
}
#the-lights{
  background-color:#000;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  z-index: 2;
}
.photo-item{
  width:200px; float:left; padding-left:20px;
}