/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require select2
 */
.login-nav {
  padding: 15px !important;
  padding-bottom: 0px;
}
.photo-item{
  width:200px;
  float:left;
  cursor: pointer;
  margin:10px;
}
#vehicle_id{
  margin-bottom: 0px;
  margin-right: 10px;
}
#upload-area{
  float:left;
  width:330px;
}
#progress-area{
  float:right;
  width:200px;
}
#file-count{
  height: 30px;
  margin-bottom: 3px;
}
#photo_container{
  text-align: center;
  margin: 0 auto;
  width:1000px;
}
@media all and (min-width: 1200px) {
    #photo_container {
        width:1200px;
    }
}
@media all and (min-width: 1400px) {
    #photo_container {
        width:1400px;
    }
}
@media all and (min-width: 1600px) {
    #photo_container {
        width:1600px;
    }
}
#filter-whips{
  float:left;
  height:30px;
  width:60%;
  padding: 3px 10px 5px 10px;
}
#search-area{
  margin: 0 auto;
  width: 600px;
}
.clear {
  clear:both;
}
.current_tokens{
  display: none;
}
#finish-tagging{
  display: none;
}
.no-margin{
  margin:0px !important;
}
