#mikes-modal{
  z-index:3;
  position:absolute;
  background-color:white;
  left: 50%;
  display:none;
  img {
    margin-top: -1px;
    margin-left:-1px;
    margin-bottom: -1px;
  }
  .description{
    width: 280px;
    text-align: left;
    padding: 0px 30px;
    vertical-align: top;
    #comments-area{
      overflow:auto;
    }
    .comment{
      padding: 3px 5px;
      margin-bottom: 2px;
      background-color: #ECECF0;
      .said-at{
        color:#999999;
        font-size:12px;
      }
    }
    .new-comment{
      width:280px;
      position:absolute;
      bottom:0;
      height:30px;
    }
  }
  .tags{
    padding: 20px 0px;
  }
  .close {
    position:absolute;
    right:5;
    cursor:pointer;
  }
  .title {
    margin-bottom:0px;
  }

}
#loading-modal{
  position:absolute;
  z-index:3;
  width:220px;
  height:220px;
  top:50%;
  left:50%;
  margin-top:-110px;
  margin-left:-110px;
  background-color:#333;
  border-radius: 20px;
}
#the-lights{
  background-color:#000;
  height:100%;
  width:100%;
  position:absolute;
  opacity: 0.9;
  top:0;
  left:0;
  z-index: 2;
}